.product-card {
    padding-top: 40px;
}

.card-title {
    font-weight: none;
    font-size: 20px;
}

.font-weight-bold {
    color: black;
    font-size: 20px;
}

.drop-dwon {
    float: right;
    display: inline-flex;
}

.search-bar {
    display: inline-flex;
    /* float: right; */
    width: 500px;
    padding-top: 9px;
}
.btn-deep-purple {
    margin: auto;
}

.hey {
    width: 900px;
    height: 39px;
    margin-top: 6px;
}

.search-btn {
    height: 38px;
}

.app {
    display: inline-flex;
    /* margin-top: 6px; */
}

.here {
    margin-top: 5px;
}

.dropdown-toggle {
    width: 174px;
    height: 38px;
    font-size: 18px;
}

.error-message {
    font-size: 25px;
    margin-left: 250px;
    margin-top: 90px;
    /* padding-left: 796px; */
    width: 100%;
    width: 847px;
    background-color: initial;
}


.pagination {
    margin: 15px auto;
    margin-top: 80px;
    display: flex;
    list-style: none;
    outline: none;
    width: 400px;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
 
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde;
    height: 90px;
    width: 90px;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset;
  }

  .empty-message {
    font-size: 25px;
    margin-left: 250px;
    margin-top: 90px;
    width: 847px;
    background-color: darkblue;
    width: 1000px;
    text-align: center;
  }
  